<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pensamentos</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <!--bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <nav id="navbar">
        <img src="/images/toughts_logo.png" alt="logo de uma lâmpada">
        <ul>
            <li><a href="/">Pensamentos</a></li>
            <li><a href="/login">Entrar</a></li>
            <li><a href="/registrar">Registar</a></li>
        </ul>
    </nav>
    <section class="container">
        {{{ body }}}
    </section>
    <footer>
        <p><span>Pensamentos</span>&copy; 2022</p>
    </footer>
</body>
</html>